<?xml version="1.0" encoding="utf-8"?>
<ArrayOfConnection xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Connection xsi:type="SQLite">
    <Name>CapabilityStudy</Name>
    <DatabaseFile>C:\UTP\reports\UTP Database\CapabilityStudy.sqlite</DatabaseFile>
    <Password />
  </Connection>
  <Connection xsi:type="SQLite">
    <Name>Muster</Name>
    <DatabaseFile>C:\UTP\reports\UTP Database\Muster.sqlite</DatabaseFile>
    <Password />
  </Connection>
  <Connection xsi:type="SQLite">
    <Name>Production</Name>
    <DatabaseFile>C:\UTP\reports\UTP Database\Production.sqlite</DatabaseFile>
    <Password />
  </Connection>
</ArrayOfConnection>