<Prop Name='UTPDataManagerTestStandPlugin' Type='Obj' TypeName='NoffzUTPDataManagerOptions'>
	<Prop Name='Database' Type='Obj'>
		<Prop Name='ConnectionName' Type='String'>
			<Value>Production</Value>
		</Prop>
		<Prop Name='IncludedRunResults' Type='Obj'>
			<Prop Name='Passed' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='Failed' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='Error' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='Terminated' Type='Boolean'>
				<Value>True</Value>
			</Prop>
		</Prop>
		<Prop Name='IncludedStepResults' Type='Obj'>
			<Prop Name='Passed' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='Failed' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='Error' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='Terminated' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='Done' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='Skipped' Type='Boolean'>
				<Value>False</Value>
			</Prop>
		</Prop>
	</Prop>
</Prop>
