<Prop Name='TEF' Type='Obj'>
	<Prop Name='BatchModel' Type='Boolean'>
		<Value>True</Value>
	</Prop>
	<Prop Name='ProductSelectionDialog' Type='Obj'>
		<Prop Name='Enabled' Type='Boolean'>
			<Value>True</Value>
		</Prop>
		<Prop Name='EnableGlobalProductSelection' Type='Boolean'>
			<Value>True</Value>
		</Prop>
		<Prop Name='EnableGlobalVariantSelection' Type='Boolean'>
			<Value>True</Value>
		</Prop>
	</Prop>
	<Prop Name='UI' Type='Obj'>
		<Prop Name='Fonts' Type='Obj'>
			<Prop Name='DialogTextBox' Type='Obj'>
				<Prop Name='FontSize' Type='Number'>
					<Value>33</Value>
				</Prop>
			</Prop>
			<Prop Name='StatusTextBox' Type='Obj'>
				<Prop Name='FontSize' Type='Number'>
					<Value>33</Value>
				</Prop>
			</Prop>
		</Prop>
		<Prop Name='ShowStationCustomInfoIndicator' Type='Boolean'>
			<Value>False</Value>
		</Prop>
		<Prop Name='ShowStationProductIndicator' Type='Boolean'>
			<Value>False</Value>
		</Prop>
		<Prop Name='ShowStationVariantIndicator' Type='Boolean'>
			<Value>True</Value>
		</Prop>
		<Prop Name='ShowProductSelectionDialogButton' Type='Boolean'>
			<Value>True</Value>
		</Prop>
		<Prop Name='ShowStationCustomButton' Type='Boolean'>
			<Value>False</Value>
		</Prop>
		<Prop Name='StationCustomButtonImagePath' Type='String'>
			<Value>C:\ProgramData\Noffz\UTP TEF\UTP User Interface\Images\CustomButton.png</Value>
		</Prop>
		<Prop Name='ShowStationTerminateExecutionsButton' Type='Boolean'>
			<Value>True</Value>
		</Prop>
		<Prop Name='ShowStationImageIndicator' Type='Boolean'>
			<Value>False</Value>
		</Prop>
		<Prop Name='ShowStationStatistics' Type='Boolean'>
			<Value>True</Value>
		</Prop>
		<Prop Name='ShowStationStatisticsStatusHistoryBar' Type='Boolean'>
			<Value>True</Value>
		</Prop>
		<Prop Name='StationStatisticsStatusHistoryBarLength' Type='Number'>
			<Value>20</Value>
		</Prop>
		<Prop Name='ShowStationCustomStatistics' Type='Boolean'>
			<Value>False</Value>
		</Prop>
		<Prop Name='ShowStationCustomStatisticsStatusHistoryBar' Type='Boolean'>
			<Value>False</Value>
		</Prop>
		<Prop Name='StationCustomStatisticsStatusHistoryBarLength' Type='Number'>
			<Value>0</Value>
		</Prop>
	</Prop>
	
	<Prop Name='TestSockets' Type='Obj'>
		<Prop Name='TestSocket0' Type='Obj'>
			<Prop Name='OperationName' Type='String'>
				<Value>EOL</Value>
			</Prop>
			<Prop Name='SocketName' Type='String'>
				<Value>DUT1</Value>
			</Prop>
			<Prop Name='UseProductSelectionDialog' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='UI' Type='Obj'>
				<Prop Name='ShowTestSocketProductIndicator' Type='Boolean'>
					<Value>False</Value>
				</Prop>
				<Prop Name='ShowTestSocketVariantIndicator' Type='Boolean'>
					<Value>False</Value>
				</Prop>
				<Prop Name='ShowTestSocketTerminateExecutionButton' Type='Boolean'>
					<Value>False</Value>
				</Prop>
				<Prop Name='ShowTestSocketDebugStepIntoButton' Type='Boolean'>
					<Value>True</Value>
				</Prop>					
				<Prop Name='ShowTestSocketProgressBar' Type='Boolean'>
					<Value>True</Value>
				</Prop>
				<Prop Name='ShowTestSocketStatistics' Type='Boolean'>
					<Value>True</Value>
				</Prop>				
				<Prop Name='ShowTestSocketStatisticsStatusHistoryBar' Type='Boolean'>
					<Value>True</Value>
				</Prop>
				<Prop Name='TestSocketStatisticsStatusHistoryBarLength' Type='Number'>
					<Value>20</Value>
				</Prop>					
				<Prop Name='ScrollStepListAutomatically' Type='Boolean'>
					<Value>True</Value>
				</Prop>
			</Prop>			
		</Prop>
		<Prop Name='TestSocket1' Type='Obj'>
			<Prop Name='OperationName' Type='String'>
				<Value>EOL</Value>
			</Prop>
			<Prop Name='SocketName' Type='String'>
				<Value>DUT2</Value>
			</Prop>
			<Prop Name='UseProductSelectionDialog' Type='Boolean'>
				<Value>True</Value>
			</Prop>
			<Prop Name='UI' Type='Obj'>
				<Prop Name='ShowTestSocketProductIndicator' Type='Boolean'>
					<Value>False</Value>
				</Prop>
				<Prop Name='ShowTestSocketVariantIndicator' Type='Boolean'>
					<Value>False</Value>
				</Prop>
				<Prop Name='ShowTestSocketTerminateExecutionButton' Type='Boolean'>
					<Value>False</Value>
				</Prop>
				<Prop Name='ShowTestSocketDebugStepIntoButton' Type='Boolean'>
					<Value>True</Value>
				</Prop>				
				<Prop Name='ShowTestSocketProgressBar' Type='Boolean'>
					<Value>True</Value>
				</Prop>
				<Prop Name='ShowTestSocketStatistics' Type='Boolean'>
					<Value>True</Value>
				</Prop>				
				<Prop Name='ShowTestSocketStatisticsStatusHistoryBar' Type='Boolean'>
					<Value>True</Value>
				</Prop>
				<Prop Name='TestSocketStatisticsStatusHistoryBarLength' Type='Number'>
					<Value>20</Value>
				</Prop>					
				<Prop Name='ScrollStepListAutomatically' Type='Boolean'>
					<Value>True</Value>
				</Prop>
			</Prop>		
		</Prop>
	</Prop>
</Prop>
