<?xml version="1.0"?>
<appSettings>
  <add key="LayoutDirectoryPath" value="C:\ProgramData\Noffz\UTP TEF\UTP User Interface\Layouts\2x1" />
  <add key="CustomerLogoPath" value="C:\ProgramData\Noffz\UTP TEF\UTP User Interface\Images\CustomerLogo.png" />
  <add key="WindowStateMaximized" value="True" />
  <add key="WindowLocationTop" value="100" />
  <add key="WindowLocationLeft" value="100" />
  <add key="WindowSizeWidth" value="1700" />
  <add key="WindowSizeHeight" value="1000" />
  <add key="AllowEndUserDocking" value="False" />
  <add key="StationConnectionInfo_0" value="localhost" />
  <add key="ConfirmApplicationExit" value="True" />
  <add key="StationShutdownTimeoutBeforeWindowCloses" value="30" />
</appSettings>
